{% if site.featured-tags %}
<section>

    <!-- Divider -->
    <hr class="hidden-sm hidden-xs">

    <h5>FEATURED TAGS</h5>

    <div class="tags">
        {% capture tags %}
        {% for tag in site.tags %}
            {% if tag[1].size > site.featured-condition-size %}
                <a href="{{ site.baseurl }}/projects/"
                   title="{{ tag[0] }}"
                   rel="{{ tag[1].size }}">
                   {{ tag[0] }}
                </a>__SEPARATOR__
            {% endif %}
        {% endfor %}
        {% endcapture %}

        {{ tags | split:'__SEPARATOR__' | sort }}

    </div>

</section>
{% endif %}