---
layout: default
---

{% include intro-header.html type='page' %}

<div class="container">
  <div class="row">
    {% if site.sidebar == false %}

    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
      {{ content }}
    </div>

    {% else %}

    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container">
      {{ content }}
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar-container">

      {% include short-about.html %}
      {% include featured-tags.html %}

    </div>

    {% endif %}
  </div>
</div>