---
layout: default
---

<!-- Post Header -->
{% include intro-header.html type='post' %}

<article>
  <div class="container">
    <div class="row">

      <!-- Main Post Content -->
      <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 post-container">

        {% if page.multilingual %}
          {% include multilingual-sel.html %}
        {% endif %}

        {{ content }}

        <hr style="visibility: hidden;">

        {% if page.previous.url or page.next.url %}
        <ul class="pager">
          {% if page.previous.url %}
          <li class="previous">
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}">
              Previous<br>
              <span>{{ page.previous.title }}</span>
            </a>
          </li>
          {% endif %}

          {% if page.next.url %}
          <li class="next">
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">
              Next<br>
              <span>{{ page.next.title }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
        {% endif %}

      </div>

      <!-- Clean Sidebar -->
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 sidebar-container">

        {% include short-about.html %}
        {% include featured-tags.html %}

      </div>

    </div>
  </div>
</article>

{% if page.mathjax %}
  {% include mathjax_support.html %}
{% endif %}

{% if site.anchorjs %}
<script>
  function async(u, c) {
    var d = document, t = 'script',
        o = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
    s.parentNode.insertBefore(o, s);
  }

  async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js", function(){
    anchors.options = {
      visible: 'hover',
      placement: 'right'
    };
    anchors.add().remove('.intro-header h1').remove('.subheading');
  });
</script>
{% endif %}